<div class="d-flex">
  <% if resume %>
    <%= form_tag admin_resume_path(id: resume.id), method: :delete do |form| %>
      <button type="submit" class="btn btn-danger">
        <%= octicon "trash", style: "margin-top:1px;" %> Delete
      </button>
    <% end %>
  <% end %>
</div>

<% if resume %>
  <div class="my-3">
    <a href="<%= rails_blob_url(resume.attachment.blob) %>">
      <% if resume_preview %>
        <%= image_tag resume_preview, class: "cv-preview" %>
      <% else %>
        View preview
      <% end %>
    </a> </div>
<% else %>
  <%= form_with url: admin_resumes_path, method: :post, accept: ".pfd", multipart: true do |form| %>
    <div class="form-group">
      <div class="form-group-body">
        <%= form.file_field :resume, class: "" %>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-body">
        <%= form.submit "Upload", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>
