<div class="d-flex flex-items-center pb-3 mb-3 border-bottom">
  <h2 class="flex-auto">Categories</h1>
  <%= link_to new_admin_category_path, class: "btn btn-sm btn-primary" do %>
    <%= octicon "plus-small", style: "margin-top:1px;" %> New
  <% end %>
</div>
<div class="js-sortable sortable">
  <% categories.each do |category| %>
    <div class="f3 js-sortable-item" style="display:flex" data-id="<%= category.id %>">
      <a class="d-inline-block flex-auto" href="<%= admin_category_path(category) %>"><%= category.name %></a>
      <span class="handle d-flex flex-items-center flex-justify-center p-2">
        <%= octicon "grabber", width: 12 %>
      </span>
    </div>
  <% end %>
</div>

<%= form_tag(admin_welcome_update_category_positions_path, method: :post, hidden: true) do |f| %>
  <input class="js-positions" type="text" name="positions" value="<%= categories.map(&:id).join(",") %>">
<% end %>

<hr>

<h2>Artis info</h2>
<%
  form_method = info.persisted? ? :patch : :post
  form_action = info.persisted? ? admin_artist_info_path(info) : admin_artist_infos_path
  form_submit = info.persisted? ? "Update" : "Save"
%>
<%= form_with model: info, url: form_action, method: form_method do |form| %>
  <div class="form-group">
    <div class="form-group-body">
      <textarea name="artist_info[bio]" class="form-control"><%= info.bio %></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="form-group-body">
      <%= form.submit form_submit, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
