<%
  verb = method == :post ? "Create" : "Update"
  path = method == :post ? admin_category_pieces_path : admin_category_piece_path
%>
<%= form_with model: model, url: path, method: method, multipart: true do |form| %>
  <dl class="form-group">
    <dt><%= form.label :title, "Title" %></dt>
    <dl><%= form.text_field :title, class: "form-control width-full" %></dl>
  </dl>
  <dl class="form-group">
    <dt><%= form.label :description, "Description" %></dt>
    <dd><%= form.text_area :description, class: "form-control" %></dd>
  </dl>
  <div class="text-right">
    <%= form.submit "#{verb}", class: "btn btn-primary" %>
  </div>
<% end %>

<% if method == :patch %>
  <hr>
  <div class="js-media-form pt-2">
    <%= render partial: "admin/pieces/media", locals: { model: model, assets: assets } %>
  </div>
<% end %>
