<%
  verb = method == :post ? "Create" : "Update"
  url = method == :post ? admin_category_pieces_path : admin_category_piece_path
%>
<%= form_with model: model, url: url, method: method, multipart: true do |form| %>
  <dl class="form-group">
    <dt><%= form.label :title, "Title" %></dt>
    <dl><%= form.text_field :title, class: "form-control" %></dl>
  </dl>
  <dl class="form-group">
    <dt><%= form.label :description, "Description" %></dt>
    <dd><%= form.text_area :description, class: "form-control" %></dd>
  </dl>
  <dl class="form-group">
    <dt><%= form.label :assets, "Media" %></dt>
    <dd><%= form.file_field :assets, multiple: true %></dd>
  </dl>
  <div class="d-flex" style="width: calc(100% + 20px); margin-left: -10px;">
    <% model.assets.each do |asset| %>
      <%= form.hidden_field :assets, multiple: true, value: asset.signed_id %>
    <% end %>
  </div>
  <%= form.submit "#{verb} art", class: "btn btn-primary" %>
<% end %>
