<%= form_with model: model, url: admin_category_batch_asset_update_path, method: :patch, multipart: true do |form| %>
  <div class="form-group d-flex flex-items-center">
    <p style="font-weight: 600" class="flex-auto mb-0">Media</p>
    <label for="series_assets" class="btn btn-sm"><%= octicon "plus-small" %> Add</label>
  </div>
  <div class="clearfix"></div>
  <%= form.file_field :assets, multiple: true, class: "file-input js-file-input" %>
  <%= form.hidden_field :ordered_ids, class: "js-ordered-media-ids" %>
  <% assets.each do |asset| %>
    <%= form.hidden_field :assets, multiple: true, value: asset.signed_id, id: nil %>
  <% end %>
<% end %>
<div class="js-sortable-media sortable">
  <% assets.each do |asset| %>
    <div class="clearfix p-1 border border-gray mb-2 sortable-item js-sortable-item" data-media-id="<%= asset.id %>" data-id="<%= asset.id %>" style="display:flex;">
      <div class="mr-3 flex-1">
        <% if asset.video? %>
          <%= image_tag asset.preview_url, style: "max-height: 70px; display: block;" %>
        <% else %>
          <%= image_tag rails_blob_url(asset.blob), style: "max-height: 70px; display: block;" %>
        <% end %>
      </div>
      <div class="d-flex flex-items-center flex-justify-center">
        <%= form_with model: model, url: admin_category_series_asset_delete_path(asset_id: asset), method: :delete do |form| %>
          <div class="trashcan js-series-delete btn btn-sm btn-danger" style="padding-left:6px;padding-right:6px;">
            <%= octicon "trashcan", width: 12 %>
          </div>
        <% end %>
      </div>
      <div class="d-flex flex-items-center flex-justify-center p-2">
      <a href="<%= edit_admin_category_series_asset_path(series_id: model.id, id: asset.id) %>" class="btn btn-sm" style="padding-left:6px;padding-right:6px;">
          <%= octicon "pencil", width: 12, class: "text-gray-dark" %>
        </a>
      </div>
      <div class="handle d-flex flex-items-center flex-justify-center p-2">
        <%= octicon "grabber", width: 12 %>
      </div>
    </div>
  <% end %>
</div>
