<nav aria-label="Breadcrumb" class="">
  <ol>
    <li class="breadcrumb-item"><%= link_to "Categories", admin_root_path %></li>
    <li class="breadcrumb-item"><%= link_to category.name, admin_category_path(category) %></li>
    <li class="breadcrumb-item" aria-current="page"><%= series.title %></li>
  </ol>
</nav>
<hr>
<div class="d-flex flex-items-center">
  <h1 class="flex-auto">
    <%= series.title %>
  </h1>
  <%= form_tag admin_category_series_path, method: :delete %>
    <input type="hidden" name="id" value="<%= series.id %>">
    <button type="button" 
            class="btn btn-sm btn-danger js-series-delete"
            data-title="<%= series.title %>">
      <%= octicon "trashcan" %>
    </button>
  </form>
</div>
<%= render partial: "admin/series/form", locals: { method: :patch, model: series, assets: assets } %>
