<nav aria-label="Breadcrumb" class="border-bottom mb-5 pb-3">
  <ol>
    <li class="breadcrumb-item"><%= link_to "Categories", admin_root_path %></li>
    <li class="breadcrumb-item" aria-current="page"><%= category.name %></li>
  </ol>
</nav>
<div class="d-flex flex-items-center pb-3 mb-3 border-bottom">
  <h1 class="flex-auto"><%= category.name.capitalize %></h1>
  <%= link_to edit_admin_category_path, class: "btn btn-sm" do %>
    <%= octicon "pencil" %> Edit
  <% end %>
  <%= link_to new_admin_category_path, class: "btn btn-sm btn-primary ml-2" do %>
    <%= octicon "plus-small" %> New
  <% end %>
</div>
<% category.pieces.each do |piece| %>
  <h2><%= link_to piece.title, edit_admin_category_piece_path(category, piece) %></h2>
  <p><%= piece.description %></p>
  <div class="d-flex">
    <% piece.assets.each do |asset| %>
      <div style="flex: 3; padding: 10px;">
        <%= image_tag rails_blob_path(asset), style: "width: 100%" %>
      </div>
    <% end %>
  </div>
<% end %>
