<nav aria-label="Breadcrumb">
  <ol>
    <li class="breadcrumb-item"><%= link_to "Categories", admin_root_path %></li>
    <li class="breadcrumb-item" aria-current="page"><%= category.name %></li>
    <%= link_to edit_admin_category_path, class:"float-right" do %>
      <%= octicon "pencil" %> Edit
    <% end %>
  </ol>
</nav>
<hr>
<%= link_to "New piece", new_admin_category_piece_path(category), class: "btn btn-primary mb-2" %>
<% category.pieces.each do |piece| %>
  <h2><%= link_to piece.title, edit_admin_category_piece_path(category, piece) %></h2>
  <p><%= piece.description %></p>
  <div class="d-flex">
    <% piece.assets.each do |asset| %>
      <div style="flex: 3; padding: 10px;">
        <%= image_tag rails_blob_path(asset), style: "width: 100%" %>
      </div>
    <% end %>
  </div>
<% end %>
