<nav aria-label="Breadcrumb" class="border-bottom mb-5 pb-3">
  <ol>
    <li class="breadcrumb-item"><%= link_to "Categories", admin_root_path %></li>
    <li class="breadcrumb-item" aria-current="page"><%= category.name %></li>
  </ol>
</nav>
<div class="d-flex flex-items-center pb-3 mb-3 border-bottom">
  <h1><%= category.name.capitalize %></h1>
  <%= link_to edit_admin_category_path, class: "btn-octicon ml-2" do %>
    <%= octicon "pencil" %>
  <% end %>
  <div class="flex-auto text-right">
    <%= link_to new_admin_category_series_path(category), class: "btn btn-sm btn-primary ml-2" do %>
      <%= octicon "file-media" %> New
    <% end %>
  </div>
</div>
<% category.series.each do |series| %>
  <h2><%= link_to series.title, edit_admin_category_series_path(category, series) %></h2>
  <p><%= series.description %></p>
  <div class="d-flex">
    <% series.assets.each do |asset| %>
      <div style="flex: 3; padding: 10px;">
        <% if asset.video? %>
          <%= image_tag asset.preview_url, style: "width: 100%" %>
        <% else %>
          <%= image_tag rails_blob_path(asset), style: "width: 100%" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
