<% first_asset = assets.first %>
<div class="d-flex flex-items-center height-full">
  <div class="gallery d-flex width-full flex-justify-between">
    <div class="navigation js-navigate-previous">
      <button class="d-block width-full height-full flex-justify-content btn-invisible">
        <%= octicon "chevron-left", height: 36 %>
      </a>
    </div>
    <div class="content height-full js-gallery-image">
      <div class="height-full">
        <% if first_asset.video? %>
          <video controls class="height-full">
            <source src="<%= rails_blob_path(first_asset) %>" type="<%= first_asset.content_type %>">
          </video>
        <% else %>
          <%= image_tag rails_blob_path(first_asset), class: "height-full" %>
        <% end %>
        <div class="js-piece-title"><%= first_asset.title %></div>
        <div class="js-piece-description"><%= first_asset.description %></div>
      </div>
    </div>
    <div class="navigation js-navigate-next">
      <button class="d-block width-full height-full flex-justify-content btn-invisible">
        <%= octicon "chevron-right", height: 36 %>
      </a>
    </div>
  </div>
</div>

<% assets.each do |asset| %>
  <template class="js-asset-<%= asset.id %>">
    <% if asset.video? %>
      <video controls>
        <source src="<%= rails_blob_path(asset) %>" type="<%= asset.content_type %>">
      </video>
    <% else %>
      <%= image_tag rails_blob_path(asset), width: asset.metadata["width"], height: asset.metadata["height"] %>
    <% end %>
    <span class="js-title"><%= asset.title %></span>
    <span class="js-description"><%= asset.description %></span>
  </template>
<% end %>

 <script>
   var assetIds = <%= assets.map(&:id) %>
   var currentAssetIdx = 0
 </script>
