<% first_asset = assets.first %>
<div class="d-flex flex-items-center height-full">
  <div class="gallery d-flex width-full flex-justify-between">
    <div class="navigation js-navigate-previous">
      <button class="d-block width-full height-full flex-justify-content btn-invisible">
        <%= octicon "chevron-left", height: 36 %>
      </a>
    </div>
    <div class="content height-full js-visible-piece"> <div class="height-full d-flex flex-items-center js-visible-piece-content">
        <!-- content -->
      </div>
    </div>
    <div class="navigation js-navigate-next">
      <button class="d-block width-full height-full flex-justify-content btn-invisible">
        <%= octicon "chevron-right", height: 36 %>
      </a>
    </div>
  </div>
</div>

<% assets.each do |asset| %>
  <template class="js-asset-<%= asset.id %>">
    <div class="height-full js-piece d-flex flex-items-center">
      <div class="js-asset-container piece-asset-container">
        <% if asset.video? %>
          <video controls poster="<%= asset.preview_url %>" class="height-full js-asset">
            <source src="<%= rails_blob_path(asset) %>" type="<%= asset.content_type %>">
          </video>
        <% else %>
          <%= image_tag rails_blob_path(asset), class: "height-full js-asset" %>
        <% end %>
        <div class="hover-sign d-flex flex-justify-center flex-items-center js-hover-sign">
          <svg height="100%" width="100%">
            <line x1="4" y1="7" x2="50" y2="7" style="stroke: black;"></line>
            <line x1="4" y1="14" x2="50" y2="14" style="stroke: black;"></line>
            <line x1="4" y1="21" x2="50" y2="21" style="stroke: black;"></line>
          </svg>
          <div class="piece-details js-piece-details sans-serif" hidden>
            <div class="mb-1"><%= render_markdown(asset.title).html_safe %></div>
            <%= simple_format(asset.description) %>
          </div>
        </div>
      </div>
      <span class="js-piece-metadata" data-height="<%= asset.metadata["height"] %>" data-width="<%= asset.metadata["width"] %>" hidden>
    </div>
  </template>
<% end %>

<% content_for :mobile do %>
  <div class="mobile p-3">
    <p class="f1 mb-6"><%= category.name %></p>
    <% assets.each do |asset| %>
      <div class="mobile-asset">
        <% if asset.video? %>
          <video controls poster="<%= asset.preview_url %>">
            <source src="<%= rails_blob_path(asset) %>" type="<%= asset.content_type %>">
          </video>
        <% else %>
          <%= image_tag rails_blob_path(asset) %>
        <% end %>
        <div class="text-center">
          <p class="f5 mb-1"><%= render_markdown(asset.title) %></h2>
          <p class="text-gray-light"><%= asset.description %></h2>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<script>
  var assetIds = <%= assets.map(&:id) %>
  var currentAssetIdx = 0
</script>
