<!DOCTYPE html>
<html>
  <head>
    <title>Art - admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_pack_tag 'admin', defer: true %>
  </head>

  <body>
    <div class="container-lg clearfix">
      <% if flash.any? %>
        <div class="col-6 mx-auto mt-3">
          <% flash.each do |type, message| %>
            <div class="flash flash-<%= type %>">
              <p><%= message %></p>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="col-6 mx-auto mt-4">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
