<!DOCTYPE html>
<html>
  <head>
    <title>Art - admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>

  <body>
    <div class="container-lg clearfix">
      <div class="col-6 mx-auto mt-4">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
