<!DOCTYPE html>
<html>
  <head>
    <title>Art</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="scene" style="">
      <div class="room">
        <div class="left wall">
          <div>
            <%= render "global/nav" %>
          </div>
        </div>
        <div class="back wall">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
