<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Art</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.typekit.net/rtg4twp.css">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>

  <body>
    <div class="scene" style="">
      <div class="room">
        <div class="left wall">
          <div>
            <% if Rails.env.development? %>
              <%= render "global/nav" %>
            <% end %>
          </div>
        </div>
        <div class="back wall">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= yield :mobile %>
  </body>
</html>
