<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Art</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.typekit.net/rtg4twp.css">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>

  <body class="tk-rockwell">
    <div class="scene" style="">
      <div class="room">
        <div class="left wall">
          <div>
            <%= render "global/nav" %>
          </div>
        </div>
        <div class="back wall">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="mobile pl-3 pt-3 mobile-header bg-white position-relative" style="z-index: 3;">
      <h1 class="flex-auto">Jennifer Boyd</h1>
      <div class="flex-items-center d-flex p-3 js-menu-toggle">
        <%= octicon "three-bars", width: 20 %>
      </div>
    </div>
    <div class="mobile mobile-menu js-menu position-absolute bg-white width-full px-3 border-bottom">
      <% Category.all.each do |category| %>
        <a href="<%= category_path(category) %>" class="nav-item <%= "selected" if category.slug == params[:slug] %>"><%= category.name %></a>
      <% end %>
      <a href="#" class="nav-item">Bio</a>
      <a href="#" class="nav-item">Contact</a>
    </div>
    <%= yield :mobile %>
  </body>
</html>
